# KNMI data retrieval examples

This Notebook is the starting point of an exciting journey into meteorological data science with one of the highest-quality Dutch weather data sets provided openly by KNMI, the Dutch Royal Meteorological Institure. 

In this notebook I’ll guide you through the process of retrieving and preparing weather data with Python, using custom-made helper scripts to keep the workflow streamlined. 

Whether you're coding or just exploring, this Notebook sets the stage for the data analysis and visualization steps in the following parts of the Notebook series.

### Disclaimer
I am not officially affiliated with KNMI, and the scripts and insights provided in this Jupyter Notebook are offered on an unofficial basis for educational and exploratory purposes.

### Word of caution
<u>Important</u>: if you request too much data at once (and also sometimes if the service is offline; this occurs from time to time), the KNMI web service returns a 'faulty' HTML instead of the data. This will lead to an <code>AssertionError</code> in the custom-made retrieval helper script. 

Create multiple smaller requests to circumvent this issue. In the unfortunate case the service is offline completely, please try again later or contact KNMI about the expected downtime period.

## Preprocessing steps
We will start by importing the required external and internal modules, scripts and libraries, and by setting up a few (meta)data files. These cells should always be run before running the cells of one or more of the examples further below.

### Import external libraries
Note: these are only the external libraries used directly within this Notebook. The Python helper scripts, imported in the subsequent step, may require the installation of additional libraries.

In [25]:
import datetime
import pandas as pd

### Internal imports
In the code below the custom Python helper scripts are imported.

In [3]:
import knmi_update_metadata

import knmi_meteo_ingest
import knmi_meteo_transform

#### Optional: get additional info for internal import scripts
If you want a brief description of each of the helper scripts and their content, feel free to uncomment the applicable line(s) of code in the cell block below.

In [3]:
# Optional: uncomment line below for more info on script content
# help(knmi_update_metadata)
# help(knmi_meteo_ingest)
# help(knmi_meteo_transform)

### Optional: update all metadata files
Running this cell is <u>optional</u>, since the metadata is not prone to change much over time. Executing the cell will update all metadata files in the corresponding folder.

To run the cell below, a stable internet connection and the availability of the KNMI data retrieval service using a script are required. This is also the case for all subsequent data retrieval procedures in this notebook.

In [4]:
# Optional: update parameter and meteo station metadata files
update_metadata = False

if update_metadata:
    knmi_update_metadata.knmi_update_all_metadata()

## Data retrieval examples

In this section we will delve deeper into the the KNMI web service data retrieval procedure for scripts by working though some examples. 

The aim of showcasing different examples is to give you a hands-on idea on the possibilities, so that you can follow along and experiment further if desired.

The showcased examples in this Jupyter Notebook are:
<ol>
<li>Retrieve all daily data from all KNMI meteo stations for a full year</li>
<li>Retrieve all hourly data from all KNMI meteo stations within a given monthr</li>
<li>Load selected daily data for selected weather stations within a given distance</li>
</ol>

### Example 1: Retrieve all daily data from all KNMI meteo stations for a full year
In the cells below we will retrieve data for all daily parameters for all automatic KNMI meteo stations for a full year. 

We do so by setting <code>start_date</code> and <code>end_date</code>, while keeping <code>meteo_stns_list</code>, <code>meteo_params_list</code> and <code>mode</code> (default value: <code>'day'</code>) undefined for our request to the KNMI service.

In the example below we use 2023 as our year of interest - feel free to change this as desired.

#### Obtain the raw dataset from KNMI service

In [5]:
# Set start and end dates (inclusive) for data retrieval
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 12, 31)

# Optional: uncomment below to make end_date exclusive
# end_date -= datetime.timedelta(days=1)

In [6]:
# Get dataset from KNMI web script service
df_day = knmi_meteo_ingest.knmi_meteo_to_df(meteo_stns_list=None,
                                            meteo_params_list=None,
                                            start_date=start_date,
                                            end_date=end_date)

In [7]:
# Show the result
df_day

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
0,209,20230101,215.0,92.0,96.0,140.0,1.0,30.0,22.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209,20230102,266.0,61.0,69.0,80.0,2.0,50.0,1.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209,20230103,196.0,83.0,88.0,150.0,22.0,30.0,3.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,209,20230104,233.0,137.0,141.0,170.0,2.0,120.0,18.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,209,20230105,245.0,82.0,90.0,120.0,2.0,60.0,13.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17150,391,20231227,176.0,27.0,31.0,50.0,18.0,10.0,1.0,110.0,...,NaN,NaN,NaN,NaN,82.0,95.0,1.0,53.0,21.0,2.0
17151,391,20231228,225.0,48.0,48.0,60.0,11.0,40.0,1.0,130.0,...,NaN,NaN,NaN,NaN,72.0,79.0,4.0,67.0,17.0,3.0
17152,391,20231229,236.0,49.0,50.0,60.0,1.0,40.0,13.0,150.0,...,NaN,NaN,NaN,NaN,81.0,92.0,13.0,72.0,1.0,1.0
17153,391,20231230,213.0,30.0,35.0,50.0,1.0,30.0,6.0,90.0,...,NaN,NaN,NaN,NaN,80.0,87.0,8.0,73.0,14.0,3.0
17154,391,20231231,190.0,37.0,43.0,50.0,10.0,30.0,1.0,120.0,...,NaN,NaN,NaN,NaN,73.0,80.0,1.0,64.0,18.0,2.0

#### Clean (transform) dataset
We can improve the readibility of the dataset by applying some preset transformations on the "raw" dataset we just ingested. 

As part of this transformation, all parameters are converted to whole units of measurements (e.g. m/s, J/cm2, °C) for better interpretability. Furthermore the column names are converted to a more readable format.

In case you would like to change any of the transformed column names, feel free to modify the file <code>transform_params_day.json</code> in folder 'transform' as desired.

In [8]:
# Apply transformations to the raw dataset
df_day_cleaned = knmi_meteo_transform.transform_param_values(df_day)

In [9]:
# Show the result
df_day_cleaned

,station_code,date,vect_avg_wind_dir,vect_avg_wind_speed,day_avg_wind_speed,max_hour_avg_wind_speed,hour_slot_max_avg_wind_speed,min_hour_avg_wind_speed,hour_slot_min_avg_wind_speed,max_gust_speed,...,hour_slot_min_visibility,max_visibility_cat,hour_slot_min_visibility,cloudiness_in_eights_cat,day_avg_humidity,max_humidity,hour_slot_max_humidity,min_humidity,hour_slot_min_humidity,evap_ref
0,209,2023-01-01,215.0,9.2,9.6,14.0,1.0,3.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209,2023-01-02,266.0,6.1,6.9,8.0,2.0,5.0,1.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209,2023-01-03,196.0,8.3,8.8,15.0,22.0,3.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,209,2023-01-04,233.0,13.7,14.1,17.0,2.0,12.0,18.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,209,2023-01-05,245.0,8.2,9.0,12.0,2.0,6.0,13.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17150,391,2023-12-27,176.0,2.7,3.1,5.0,18.0,1.0,1.0,11.0,...,NaN,NaN,NaN,NaN,0.82,0.95,1.0,0.53,21.0,0.2
17151,391,2023-12-28,225.0,4.8,4.8,6.0,11.0,4.0,1.0,13.0,...,NaN,NaN,NaN,NaN,0.72,0.79,4.0,0.67,17.0,0.3
17152,391,2023-12-29,236.0,4.9,5.0,6.0,1.0,4.0,13.0,15.0,...,NaN,NaN,NaN,NaN,0.81,0.92,13.0,0.72,1.0,0.1
17153,391,2023-12-30,213.0,3.0,3.5,5.0,1.0,3.0,6.0,9.0,...,NaN,NaN,NaN,NaN,0.80,0.87,8.0,0.73,14.0,0.3
17154,391,2023-12-31,190.0,3.7,4.3,5.0,10.0,3.0,1.0,12.0,...,NaN,NaN,NaN,NaN,0.73,0.80,1.0,0.64,18.0,0.2

In [10]:
# Get distribution overview of numeric cols
df_day_cleaned.describe().T

,count,mean,std,min,25%,50%,75%,max
station_code,17155.0,297.361702,46.271796,209.00,260.00,286.00,331.000,391.00
vect_avg_wind_dir,16741.0,187.695657,91.645513,1.00,110.00,212.00,249.000,360.00
vect_avg_wind_speed,16741.0,4.629096,2.760371,0.10,2.60,4.10,6.100,17.60
day_avg_wind_speed,16744.0,5.240952,2.699477,0.40,3.30,4.70,6.700,18.20
max_hour_avg_wind_speed,16741.0,7.685264,3.343342,1.00,5.00,7.00,10.000,30.00
hour_slot_max_avg_wind_speed,16741.0,10.907353,6.365938,1.00,6.00,11.00,15.000,24.00
min_hour_avg_wind_speed,16741.0,2.782331,2.251414,0.00,1.00,2.00,4.000,15.00
hour_slot_min_avg_wind_speed,16741.0,9.724509,8.549831,1.00,1.00,6.00,19.000,24.00
max_gust_speed,16742.0,12.056146,4.514247,2.00,9.00,11.00,15.000,41.00
hour_slot_max_gust_speed,16742.0,11.755167,6.309347,1.00,7.00,12.00,16.000,24.00
day_avg_temp,12410.0,11.690669,5.921943,-3.60,7.50,11.10,16.775,26.10
min_temp,12410.0,7.801128,5.488533,-10.10,4.00,8.20,12.100,21.10
hour_slot_min_temp,12410.0,11.180338,9.312123,1.00,3.00,6.00,23.000,24.00
max_temp,12410.0,15.385826,6.971106,-1.20,10.00,14.50,20.900,34.80
hour_slot_max_temp,12410.0,13.350524,4.172921,1.00,12.00,14.00,15.000,24.00
min_temp_10cm,12045.0,6.434147,5.667977,-10.40,2.40,7.00,10.600,19.30
six_hour_slot_min_temp_10cm,12045.0,13.574595,8.500319,6.00,6.00,6.00,24.000,24.00
sunshine_hours,11680.0,5.187140,4.475706,0.00,1.10,4.20,8.400,15.70
sunshine_day_fraction,11680.0,0.391210,0.303061,0.00,0.11,0.35,0.640,0.95
global_irradiance,11680.0,1103.962671,860.538734,29.00,333.00,893.00,1772.000,3180.00
rain_hours,12044.0,2.213044,3.430387,0.00,0.00,0.50,3.200,23.00
rain_sum,12045.0,2.907061,5.203371,0.00,0.00,0.30,3.600,52.30
max_rain_hour_sum,12045.0,1.058983,1.930845,0.00,0.00,0.20,1.500,32.40
hour_slot_max_rain_hour_sum,12045.0,7.463097,7.873316,1.00,1.00,3.00,14.000,24.00
day_avg_pressure,8760.0,1013.960639,11.224716,971.60,1007.00,1015.30,1021.200,1041.80
max_hour_pressure,8760.0,1017.176279,10.311493,981.30,1010.60,1017.90,1023.700,1044.10
hour_slot_max_pressure,8760.0,12.098516,9.528573,1.00,1.00,10.00,23.000,24.00
min_hour_pressure,8760.0,1010.604281,12.117127,965.20,1003.70,1011.90,1018.800,1040.50
hour_slot_min_pressure,8760.0,12.612329,9.542650,1.00,2.00,15.00,24.000,24.00
min_visibility_cat,9101.0,43.713987,22.833320,0.00,26.00,50.00,62.000,84.00
hour_slot_min_visibility,9101.0,10.073179,8.333154,1.00,3.00,7.00,19.000,24.00
max_visibility_cat,9101.0,76.861883,6.272278,34.00,75.00,80.00,83.000,84.00
hour_slot_min_visibility,9101.0,11.792001,5.761899,1.00,9.00,12.00,16.000,24.00
cloudiness_in_eights_cat,7291.0,6.207928,2.105020,0.00,5.00,7.00,8.000,8.00
day_avg_humidity,12410.0,0.806015,0.100735,0.35,0.75,0.82,0.880,0.99
max_humidity,12410.0,0.940101,0.055714,0.52,0.92,0.96,0.980,1.00
hour_slot_max_humidity,12410.0,10.163658,8.817691,1.00,3.00,6.00,20.000,24.00
min_humidity,12410.0,0.647184,0.151221,0.15,0.54,0.67,0.760,0.98
hour_slot_min_humidity,12410.0,13.101370,4.735646,1.00,12.00,14.00,15.000,24.00
evap_ref,11680.0,1.791644,1.523394,0.00,0.50,1.40,2.900,5.80

#### Final Notes
At first sight (skimming over the distributions of the parameters), the data seems to have comprehensible values for the year 2023. From the overview it becomes clear that each of the parameters is only measured in some of the KNMI meteo stations (see the <code>"count"</code>-column).

After ingesting the data and running it through the data cleaning helper scripts, it becomes clear that the dataset is already of relatively high quality, as no immediate obvious outliers show up from the distribution overview above. Those of us working in data will likely appreciate the luxury situation of working with such a relatively 'clean' and well-documented dataset!

### Example 2: Retrieve all hourly data from all KNMI meteo stations within a given month
In the cells below we will retrieve data for all hourly parameters for all automatic KNMI meteo stations for one full month in a year. 

We do so by setting <code>start_date</code>, <code>end_date</code>, and mode (value: <code>'hour'</code>), while keeping <code>meteo_stns_list</code> and <code>meteo_params_list</code> undefined for our request to the KNMI service.

In the example below we use July 2024 as our month of interest - feel free to change this as desired.

In [11]:
# Set start and end dates (inclusive) for data retrieval
start_date = datetime.date(2024, 7, 1)
end_date = datetime.date(2024, 7, 31)

# Optional: uncomment below to make end_date exclusive
# end_date -= datetime.timedelta(days=1)

In [12]:
# Get dataset from KNMI web script service
df_hour = knmi_meteo_ingest.knmi_meteo_to_df(meteo_stns_list=None,
                                             meteo_params_list=None,
                                             start_date=start_date,
                                             end_date=end_date,
                                             mode="hour")

In [13]:
# Show the result
df_hour

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10N,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,209,20240701,1,320.0,70.0,60.0,80.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
1,209,20240701,2,320.0,80.0,90.0,100.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
2,209,20240701,3,320.0,90.0,90.0,110.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
3,209,20240701,4,330.0,80.0,70.0,100.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
4,209,20240701,5,320.0,70.0,70.0,90.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34219,391,20240731,20,0.0,0.0,0.0,10.0,203.0,NaN,188.0,...,NaN,NaN,91.0,NaN,6,NaN,NaN,NaN,NaN,NaN
34220,391,20240731,21,0.0,0.0,0.0,10.0,193.0,NaN,189.0,...,NaN,NaN,97.0,NaN,6,NaN,NaN,NaN,NaN,NaN
34221,391,20240731,22,0.0,0.0,0.0,10.0,184.0,NaN,177.0,...,NaN,NaN,95.0,NaN,6,NaN,NaN,NaN,NaN,NaN
34222,391,20240731,23,0.0,0.0,0.0,10.0,178.0,NaN,174.0,...,NaN,NaN,97.0,NaN,6,NaN,NaN,NaN,NaN,NaN
34223,391,20240731,24,100.0,0.0,10.0,10.0,171.0,165.0,165.0,...,NaN,NaN,96.0,NaN,6,NaN,NaN,NaN,NaN,NaN

#### Clean (transform) dataset
Again, we can improve the readibility of the dataset by applying some preset transformations on the "raw" dataset we just ingested. 

As part of this transformation, all parameters are converted to whole units of measurements (e.g. m/s, J/cm2, °C) for better interpretability. Furthermore the column names are converted to a more readable format.

In case you would like to change any of the transformed column names, feel free to modify the file <code>transform_params_hour.json</code> in folder 'transform' as desired.

In [14]:
# Apply transformations to the raw dataset
df_hour_cleaned = knmi_meteo_transform.transform_param_values(df_hour)

In [15]:
# Show the result
df_hour_cleaned

,station_code,date,hour,avg_wind_dir_last_10min,hour_avg_wind_speed,avg_wind_speed_last_10min,hour_max_gust_speed,temp,min_temp_10cm_last_six_hours,temp_dew_point,...,cloudiness_in_eights_cat,relative_humidity,weather_code_cat,weather_code_obs_method_cat,fog_observed,rain_observed,snow_observed,lightning_observed,ice_observed,datetime
0,209,20240701,1,320.0,7.0,6.0,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-01 00:00:00
1,209,20240701,2,320.0,8.0,9.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-01 01:00:00
2,209,20240701,3,320.0,9.0,9.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-01 02:00:00
3,209,20240701,4,330.0,8.0,7.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-01 03:00:00
4,209,20240701,5,320.0,7.0,7.0,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34219,391,20240731,20,0.0,0.0,0.0,1.0,20.3,NaN,18.8,...,NaN,0.91,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-31 19:00:00
34220,391,20240731,21,0.0,0.0,0.0,1.0,19.3,NaN,18.9,...,NaN,0.97,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-31 20:00:00
34221,391,20240731,22,0.0,0.0,0.0,1.0,18.4,NaN,17.7,...,NaN,0.95,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-31 21:00:00
34222,391,20240731,23,0.0,0.0,0.0,1.0,17.8,NaN,17.4,...,NaN,0.97,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-31 22:00:00
34223,391,20240731,24,100.0,0.0,1.0,1.0,17.1,16.5,16.5,...,NaN,0.96,NaN,6,NaN,NaN,NaN,NaN,NaN,2024-07-31 23:00:00

In [16]:
# Get distribution overview of numeric cols
df_hour_cleaned.describe().T

,count,mean,min,25%,50%,75%,max,std
station_code,34224.0,296.630435,209.0,260.0,285.5,330.0,391.0,46.501899
date,34224.0,20240716.0,20240701.0,20240708.0,20240716.0,20240724.0,20240731.0,8.944403
hour,34224.0,12.5,1.0,6.75,12.5,18.25,24.0,6.922288
avg_wind_dir_last_10min,33295.0,210.698003,0.0,140.0,220.0,270.0,990.0,122.420986
hour_avg_wind_speed,33292.0,4.343236,0.0,2.0,4.0,6.0,21.0,2.578385
avg_wind_speed_last_10min,33295.0,4.351074,0.0,2.0,4.0,6.0,21.0,2.623047
hour_max_gust_speed,33292.0,6.897693,0.0,4.0,6.0,9.0,28.0,3.48453
temp,25296.0,18.062227,7.9,15.3,17.6,20.3,32.1,3.826874
min_temp_10cm_last_six_hours,4216.0,15.572486,3.6,13.4,15.5,17.7,29.6,3.668605
temp_dew_point,25296.0,13.810911,4.6,12.2,13.8,15.5,21.8,2.473836
sunshine_hours,23808.0,0.299689,0.0,0.0,0.0,0.7,1.0,0.384984
global_irradiance,23808.0,78.571573,0.0,0.0,36.0,140.0,343.0,91.936264
rain_hours,24552.0,0.058484,0.0,0.0,0.0,0.0,1.0,0.19574
rain_sum,24552.0,0.146814,0.0,0.0,0.0,0.0,35.6,0.885542
hour_pressure,17856.0,1014.023275,994.1,1010.7,1014.0,1017.1,1027.1,5.312993
visibility_cat,18600.0,70.84672,1.0,65.0,70.0,79.0,84.0,11.030763
cloudiness_in_eights_cat,14863.0,6.017426,0.0,4.0,8.0,8.0,9.0,2.968734
relative_humidity,25296.0,0.773869,0.33,0.67,0.8,0.89,1.0,0.144717
weather_code_cat,5504.0,35.016715,0.0,10.0,23.0,58.0,95.0,28.040858
weather_code_obs_method_cat,34224.0,5.783748,5.0,5.0,6.0,6.0,7.0,0.704769
fog_observed,18600.0,0.013011,0.0,0.0,0.0,0.0,1.0,0.113323
rain_observed,18600.0,0.201828,0.0,0.0,0.0,0.0,1.0,0.401375
snow_observed,18600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
lightning_observed,18600.0,0.01328,0.0,0.0,0.0,0.0,1.0,0.114472
ice_observed,18600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
datetime,34224,2024-07-16 11:30:00,2024-07-01 00:00:00,2024-07-08 17:45:00,2024-07-16 11:30:00,2024-07-24 05:15:00,2024-07-31 23:00:00,NaN

#### Final Notes
At first sight (skimming over the distributions of the parameters), the data seems to have comprehensible values for July 2024. From the overview it becomes clear that each of the parameters is only measured in some of the KNMI meteo stations (see the <code>"count"</code>-column).

For the example of July 2024, no ice or snow were observed, which makes sense in Dutch summers. Lightning and fog were observed within 1.3% of the hour slots in the dataset, while the average sunshine was 30.0% per hour. 

This sunshine value seems on the low side for summer. We should probably take into consideration that the day and night hours have equal weight here, and all night hours with value 0 bring this value down a lot. Normally, however, we would only consider daytime hours to calculate the average sunshine percentage. With this in mind, 30% looks more plausible.

### Example 3: Load selected daily data for selected weather stations within a given distance

In the example below we will use the location of <strong>Utrecht</strong> as midpoint for our search area, and set the search radius at <strong>50 km</strong>. For all stations within this radius, we will load a selection of the day-based meteorological data.

#### Pre-requirement for geoprocessing: GeoPandas
<u>Important:</u> performing the geo-operations in the cells below requires that the 'geopandas' package be installed in the virtual environment linked to your Jupyter Notebook.

For those new to GeoPandas: it combines the data analysis tools of Pandas with geo-capabilities. Its main object is the GeoDataFrame, which works very similar to a Pandas DataFrame. The main add-on is that now one of the columns represents an item's geometry: its geographical location and/or shape. This enables geo-operations similar to those used in GIS software. See the GeoPandas documentation for further details: https://geopandas.org/en/stable/index.html.

In case you do not want to install geopandas (since its installation might be cumbersome on some systems), continue with <code>enable_geo_ops</code> as <code>False</code>. In that case, you can use the preloaded list of results instead.

In case you do have GeoPandas installed - feel free to change the location of interest to another one within The Netherlands, and to play with the radius buffer distance.

#### Load stations to GeoDataFrame
Let's start by loading the KNMI meteo stations and their locations from the available metadata. These need to be transformed to a GeoDataFrame in order to enable geoprocessing on them later on.

In [17]:
enable_geo_ops = False

if enable_geo_ops:
    import geopandas as gpd

In [18]:
# Load the overview of stations from metadata
df_stns = knmi_meteo_ingest.knmi_load_meteo_stations()

In [19]:
# Transform the station data
df_stns_cleaned = knmi_meteo_transform.transform_stations(df_stns)

In [20]:
df_stns_cleaned

    station_code  longitude  latitude  altitude        location_name
0            209      4.518    52.465       0.0               IJmond
1            210      4.430    52.171      -0.2        Valkenburg Zh
2            215      4.437    52.141      -1.1          Voorschoten
3            225      4.555    52.463       4.4             IJmuiden
4            235      4.781    52.928       1.2              De Kooy
5            240      4.790    52.318      -3.3             Schiphol
6            242      4.921    53.241      10.8             Vlieland
7            248      5.174    52.634       0.8             Wijdenes
8            249      4.979    52.644      -2.4             Berkhout
9            251      5.346    53.392       0.7   Hoorn Terschelling
10           257      4.603    52.506       8.5         Wijk aan Zee
11           258      5.401    52.649       7.3          Houtribdijk
12           260      5.180    52.100       1.9              De Bilt
13           265      5.274    52.130      13.9          Soesterberg
14           267      5.384    52.898      -1.3             Stavoren
15           269      5.520    52.458      -3.7             Lelystad
16           270      5.752    53.224       1.2           Leeuwarden
17           273      5.888    52.703      -3.3            Marknesse
18           275      5.873    52.056      48.2               Deelen
19           277      6.200    53.413       2.9           Lauwersoog
20           278      6.259    52.435       3.6                Heino
21           279      6.574    52.750      15.8            Hoogeveen
22           280      6.585    53.125       5.2                Eelde
23           283      6.657    52.069      29.1               Hupsel
24           285      6.399    53.575       0.0           Huibertgat
25           286      7.150    53.196      -0.2         Nieuw Beerta
26           290      6.891    52.274      34.8              Twenthe
27           308      3.379    51.381       0.0              Cadzand
28           310      3.596    51.442       8.0           Vlissingen
29           311      3.672    51.379       0.0           Hoofdplaat
30           312      3.622    51.768       0.0        Oosterschelde
31           313      3.242    51.505       0.0   Vlakte van De Raan
32           315      3.998    51.447       0.0            Hansweert
33           316      3.694    51.657       0.0               Schaar
34           319      3.861    51.226       1.7            Westdorpe
35           323      3.884    51.527       1.4       Wilhelminadorp
36           324      4.006    51.596       0.0           Stavenisse
37           330      4.122    51.992      11.9     Hoek van Holland
38           331      4.193    51.480       0.0               Tholen
39           340      4.342    51.449      19.2          Woensdrecht
40           343      4.313    51.893       3.5  Rotterdam Geulhaven
41           344      4.447    51.962      -4.3            Rotterdam
42           348      4.926    51.970      -0.7          Cabauw Mast
43           350      4.936    51.566      14.9          Gilze-Rijen
44           356      5.146    51.859       0.7            Herwijnen
45           370      5.377    51.451      22.6            Eindhoven
46           375      5.707    51.659      22.0               Volkel
47           377      5.763    51.198      30.0                  Ell
48           380      5.762    50.906     114.3           Maastricht
49           391      6.197    51.498      19.5                Arcen

In [21]:
# Function to reduce code duplication
def df_to_gdf(df):
    """Convert df with lon, lat data to gdf."""
    gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(
        df["longitude"], df["latitude"]),
        crs="EPSG:4326")
    return gdf

In [22]:
if enable_geo_ops:
    gdf_stns = df_to_gdf(df_stns_cleaned)

In [23]:
if enable_geo_ops:
    print(gdf_stns)

#### Load central location point to GeoDataFrame

In [26]:
df_center_point = pd.DataFrame(
    {"city": ["Utrecht"],
     "country": ["The Netherlands"],
     "latitude": [52.08],
     "longitude": [5.13],
    }
)

In [27]:
if enable_geo_ops:
    gdf_cent_pt = df_to_gdf(df_center_point)
    print(gdf_cent_pt)

#### Transform geometries to distance-based CRS
We have now successfully loaded the station data and added its location as a point geometry. In order to work with distances in kilometers, we need to convert the <code>lon, lat</code>, degree-based geometry to a local projection that approximates the 2D distances as accurately as possible. In The Netherlands, we have the so-called <code>Amersfoort/RD New</code> Coordinate Reference System (CRS), decoded as <code>EPSG:28992</code>. 

We will translate both our geodata from the global geodetic CRS (<code>EPSG:4326</code>) to the Amersfoort/RD New CRS in the cells below.

In [28]:
if enable_geo_ops:
    gdf_stns = gdf_stns.to_crs("EPSG:28992")
    gdf_cent_pt = gdf_cent_pt.to_crs("EPSG:28992")

In [29]:
if enable_geo_ops:
    print(gdf_cent_pt)

#### Create search polygon - buffer around central point
Great! Now that our geometries of interest are expressed in meters, we can create a buffer around the desired center point.

In [30]:
r_in_km = 50

if enable_geo_ops:
    gdf_cent_pt['geometry'] = (gdf_cent_pt['geometry']
                               .buffer(1000 * r_in_km))

    print(gdf_cent_pt)

Note that our previous point geometry for the center point has changed to a polygon geometry. This polygon approximates the circle with a radius of <code>r_in_km</code> kilometers around the center point, and will be used as the intersection shape to determine which of the KNMI meteo stations lie within this shape, and thus, within the desired search distance.

#### Use spatial join to find KNMI meteo stations within search polygon
Now we need to do a geoprocessing step called a <em>spatial join</em>. Contrary to regular (or: <em>attribute</em>) joins, spatial joins use the location of the dataset to perform a join operation, instead of on the attributes of the data itself. 

In the example below, we will find all KNMI meteo stations of which their location points intersect with the search polygon that we have just set up.

In [31]:
if enable_geo_ops:
    gdf_matching_stns = gdf_stns.sjoin(gdf_cent_pt,
                                       how="inner",
                                       predicate="intersects")
    print(gdf_matching_stns["location_name"])

Great, we have found the KNMI meteo stations within a search range of <code>r_in_km</code> around our chosen central point!

#### Extract station codes

To request the data from the KNMI service, we will still need to extract the station code values. We can do this by selecting the values from the <code>station_code</code> column of the GeoDataFrame containing the matching stations.

In [32]:
if enable_geo_ops:
    matched_stns = list(gdf_matching_stns["station_code"])
    print(matched_stns)

#### After geoprocessing
For those who did not install 'geopandas': we are now done with all geoprocessing operations, so feel free to join along again or experiment with the code further below. The results of the geo-operations of our example (Utrecht + 50 km radius) are also provided in the cell below.

In [33]:
# Use stations found by geoprocessing as hard-coded result
# in case 'geopandas' was not used for running this Notebook
if not enable_geo_ops:
    matched_stns = [210, 215, 240, 260, 265, 269, 344, 348, 356]

#### Request the data from the KNMI service
In this example, we will request data for the first half of 2022 from the KNMI meteo stations within a 50 km radius from Utrecht.

To also show how parameter selection works, we only select the (T) temperature-, (S) solar-, (R) rain- and (Q) irradiance-related parameters to be returned in the cells below.

In [34]:
# Set start and end dates (inclusive) for data retrieval
start_date = datetime.date(2022, 1, 1)
end_date = datetime.date(2022, 7, 1)

# Convert end_date to exclusive
end_date -= datetime.timedelta(days=1)

In [35]:
# Load available daily parameters
params_day = knmi_meteo_ingest.knmi_load_daily_parameters()

# We are interested in T, S, R and Q-related params; filter those
start_chars = ("T", "S", "R", "Q")

sel_params = (params_day["parameter_code"]
              [params_day["parameter_code"]
               .str.startswith(start_chars)]
               .tolist())

# Show the selected parameter codes
print(sel_params)

['TG', 'TN', 'TNH', 'TX', 'TXH', 'T10N', 'T10NH', 'SQ', 'SP', 'Q', 'RH', 'RHX', 'RHXH']

In [36]:
# Get dataset from KNMI web script service
df_sel = knmi_meteo_ingest.knmi_meteo_to_df(meteo_stns_list=matched_stns,
                                            meteo_params_list=sel_params,
                                            start_date=start_date,
                                            end_date=end_date)

In [37]:
# Apply transformations to the raw dataset
df_sel_cleaned = knmi_meteo_transform.transform_param_values(df_sel)

# Show the result
df_sel_cleaned

,station_code,date,hour_slot_max_temp,min_temp_10cm,six_hour_slot_min_temp_10cm,hour_slot_max_rain_hour_sum,sunshine_hours,max_temp,hour_slot_min_temp,min_temp,rain_sum,global_irradiance,sunshine_day_fraction,day_avg_temp,max_rain_hour_sum
0,215,2022-01-01,14,9.1,6.0,24,0.9,13.3,1,9.7,0.1,209,0.12,12.1,0.1
1,215,2022-01-02,4,8.9,24.0,19,3.0,13.6,24,9.7,3.3,227,0.38,11.6,2.7
2,215,2022-01-03,12,7.7,24.0,1,2.5,10.9,22,8.3,0.0,218,0.32,9.6,0.0
3,215,2022-01-04,1,3.2,24.0,5,0.2,8.9,19,3.9,0.5,113,0.03,6.7,0.4
4,215,2022-01-05,15,2.7,6.0,13,0.9,7.1,1,3.9,5.6,145,0.11,5.8,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262,356,2022-06-26,14,14.1,6.0,1,5.1,21.2,5,14.5,0.0,1769,0.31,17.6,0.0
1263,356,2022-06-27,11,9.4,24.0,13,4.7,19.2,24,11.8,7.1,936,0.28,16.2,3.0
1264,356,2022-06-28,16,8.4,6.0,1,14.3,23.6,2,11.1,0.0,2848,0.86,18.0,0.0
1265,356,2022-06-29,15,11.9,6.0,1,11.0,27.2,4,12.9,0.0,2297,0.66,21.1,0.0
1266,356,2022-06-30,11,13.2,6.0,18,7.0,23.1,24,13.6,7.5,1794,0.42,17.6,4.6

In [38]:
# Summarize the result
df_sel_cleaned.describe().T

,count,mean,std,min,25%,50%,75%,max
station_code,1267.0,290.285714,53.608777,215.0,240.00,269.000,348.00,356.00
hour_slot_max_temp,1267.0,13.456985,3.681473,1.0,12.00,14.000,15.00,24.00
min_temp_10cm,1086.0,3.200829,4.975224,-8.4,-0.30,2.900,6.70,17.50
six_hour_slot_min_temp_10cm,1086.0,13.204420,8.458335,6.0,6.00,6.000,24.00,24.00
hour_slot_max_rain_hour_sum,1267.0,5.423836,7.023398,1.0,1.00,1.000,9.00,24.00
sunshine_hours,1267.0,6.601815,4.686958,0.0,2.15,6.500,10.70,15.50
max_temp,1267.0,14.207893,5.886940,3.5,9.10,13.700,18.60,31.20
hour_slot_min_temp,1267.0,10.538279,9.041632,1.0,4.00,6.000,22.00,24.00
min_temp,1267.0,5.237885,4.646810,-5.8,1.70,4.600,8.50,17.90
rain_sum,1267.0,2.095856,5.177685,0.0,0.00,0.025,1.40,56.40
global_irradiance,1267.0,1317.984215,879.377802,80.0,459.00,1312.000,2052.00,3100.00
sunshine_day_fraction,1267.0,0.491002,0.326790,0.0,0.19,0.520,0.82,0.94
day_avg_temp,1267.0,9.968035,4.923715,1.2,6.10,9.100,13.70,23.20
max_rain_hour_sum,1267.0,0.824033,2.079782,0.0,0.00,0.025,0.80,23.60

This last example contained quite a lot of steps, but we have made it through and got what we wanted! Time for a well-deserved coffee / tea break...

## Summary Overview
Hopefully the hands-on examples expanded your confidence to play around with similar data retrieval workflows.

Before wrapping up, I have listed some additional considerations and potential improvements. Feel free to skip these if you think these are not relevant to you.

### Methodological similarities to Medallion Architecture (Data Engineering)
A Data Engineering-minded reader might notice a few resemblances between the methodology used in the Python helper scripts of this notebook and the bronze and silver parts of the Medallion Architecture for data pipelines, where the raw (ingested) datasets would translate to 'bronze' and the cleaned (transformed) datasets to 'silver'. In case you noticed - it's correct!

For those who would like to know more about this principle, see for example: https://www.databricks.com/glossary/medallion-architecture.

### Improvement suggestions (for production environments)
Since no version control is used for the (meta)data in the files, any update simply <strong>overwrites</strong> the existing metadata files in the <code>metadata</code> folder, discarding the old content.

In a production environment, it would be recommended to instead use e.g. tables or Parquet-files, and to make use of one of the SCD (Slowly Changing Dimension) time-slicing types. 
For more infomation on SCD types to use in that case, see for example: https://en.wikipedia.org/wiki/Slowly_changing_dimension.

Also noteworthy is that KNMI offers more stable (production-ready) data products through the use of API keys, available on request by contacting KNMI (link to site in Dutch): https://www.knmi.nl/over-het-knmi/contact/contactformulier. Or check out the following page: https://developer.dataplatform.knmi.nl

### Similar work
For those mainly interested in a clean Python wrapper around the data retrieval API that is under more active maintenance, please also see the <code>knmi-py</code> package: https://github.com/EnergieID/KNMI-py. The organization also developed quite a few more Python wrappers for weather and energy APIs, which might be worthwhile to look at.

Note that they are also not affiliated with KNMI, nor am I affiliated with EnergieID.

### Data Analysis Opportunities
Now that we have showed ways to flexibly retrieve KNMI datasets, a wide array of interesting data analyses have become possible. 

We could start answering questions such as:
- Which time(s) of the day tended to be the rainiest/sunniest?
- Which of the measured locations were most/least windy?
- What were the total sums for rainfall and sunshine for the year of interest, and how did this vary throughout The Netherlands?
- Where and when did we see extreme rainfall or drought?
- At what time of the day did we typically see the lowest and highest temperatures, and is there a difference per region?

Since the purpose of this Notebook was only to show the data ingestion process, a deeper dive into analyses is not provided here. 

However, feel free to check the other Notebooks for data analysis examples, or experiment on your own!

## Closing note

Great job on reaching the end of this Notebook! We've learned how to access and prepare KNMI’s meteorological data, laying the groundwork for deeper analysis.

In the follow-up Notebook(s), we’ll focus on analyzing this data to uncover valuable weather trends. Happy to see you there!