In [1]:
import datetime

In [ ]:
import knmi_meteo_ingest
import knmi_update_metadata
# import knmiclasses

In [3]:
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 12, 31)

In [ ]:
knmi_update_metadata.knmi_update_all_metadata()

Updating daily parameter metadata...
Success.
Updating hourly parameter metadata...
Success.
Updating meteo station metadata...
Success.

In [9]:
df_day = knmi_meteo_ingest.knmi_meteo_to_df(meteo_stns_list=None,
                                            meteo_params_list=None,
                                            start_date=start_date,
                                            end_date=end_date)

df_day

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
0,209,20230101,215.0,92.0,96.0,140.0,1.0,30.0,22.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209,20230102,266.0,61.0,69.0,80.0,2.0,50.0,1.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209,20230103,196.0,83.0,88.0,150.0,22.0,30.0,3.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,209,20230104,233.0,137.0,141.0,170.0,2.0,120.0,18.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,209,20230105,245.0,82.0,90.0,120.0,2.0,60.0,13.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17150,391,20231227,176.0,27.0,31.0,50.0,18.0,10.0,1.0,110.0,...,NaN,NaN,NaN,NaN,82.0,95.0,1.0,53.0,21.0,2.0
17151,391,20231228,225.0,48.0,48.0,60.0,11.0,40.0,1.0,130.0,...,NaN,NaN,NaN,NaN,72.0,79.0,4.0,67.0,17.0,3.0
17152,391,20231229,236.0,49.0,50.0,60.0,1.0,40.0,13.0,150.0,...,NaN,NaN,NaN,NaN,81.0,92.0,13.0,72.0,1.0,1.0
17153,391,20231230,213.0,30.0,35.0,50.0,1.0,30.0,6.0,90.0,...,NaN,NaN,NaN,NaN,80.0,87.0,8.0,73.0,14.0,3.0
17154,391,20231231,190.0,37.0,43.0,50.0,10.0,30.0,1.0,120.0,...,NaN,NaN,NaN,NaN,73.0,80.0,1.0,64.0,18.0,2.0

In [10]:
df_day[~df_day['EV24'].isna()]

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
365,215,20230101,213.0,70.0,74.0,120.0,4.0,30.0,21.0,200.0,...,21.0,80.0,3.0,8.0,80.0,96.0,21.0,67.0,2.0,3.0
366,215,20230102,245.0,34.0,38.0,60.0,1.0,10.0,24.0,120.0,...,4.0,70.0,9.0,6.0,90.0,96.0,5.0,82.0,12.0,2.0
367,215,20230103,187.0,53.0,55.0,100.0,21.0,10.0,1.0,160.0,...,4.0,70.0,13.0,7.0,90.0,99.0,4.0,81.0,21.0,2.0
368,215,20230104,233.0,105.0,107.0,120.0,5.0,90.0,15.0,210.0,...,8.0,70.0,6.0,8.0,86.0,93.0,1.0,78.0,20.0,2.0
369,215,20230105,242.0,62.0,67.0,90.0,2.0,40.0,16.0,150.0,...,16.0,70.0,22.0,8.0,87.0,95.0,16.0,81.0,12.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17150,391,20231227,176.0,27.0,31.0,50.0,18.0,10.0,1.0,110.0,...,NaN,NaN,NaN,NaN,82.0,95.0,1.0,53.0,21.0,2.0
17151,391,20231228,225.0,48.0,48.0,60.0,11.0,40.0,1.0,130.0,...,NaN,NaN,NaN,NaN,72.0,79.0,4.0,67.0,17.0,3.0
17152,391,20231229,236.0,49.0,50.0,60.0,1.0,40.0,13.0,150.0,...,NaN,NaN,NaN,NaN,81.0,92.0,13.0,72.0,1.0,1.0
17153,391,20231230,213.0,30.0,35.0,50.0,1.0,30.0,6.0,90.0,...,NaN,NaN,NaN,NaN,80.0,87.0,8.0,73.0,14.0,3.0
17154,391,20231231,190.0,37.0,43.0,50.0,10.0,30.0,1.0,120.0,...,NaN,NaN,NaN,NaN,73.0,80.0,1.0,64.0,18.0,2.0

In [4]:
df_stns = knmi_meteo_ingest.knmi_load_meteo_stations()

In [5]:
df_stns

    station_code  longitude  latitude  altitude        location_name
0            209      4.518    52.465       0.0               IJmond
1            210      4.430    52.171      -0.2        Valkenburg Zh
2            215      4.437    52.141      -1.1          Voorschoten
3            225      4.555    52.463       4.4             IJmuiden
4            235      4.781    52.928       1.2              De Kooy
5            240      4.790    52.318      -3.3             Schiphol
6            242      4.921    53.241      10.8             Vlieland
7            248      5.174    52.634       0.8             Wijdenes
8            249      4.979    52.644      -2.4             Berkhout
9            251      5.346    53.392       0.7   Hoorn Terschelling
10           257      4.603    52.506       8.5         Wijk aan Zee
11           258      5.401    52.649       7.3          Houtribdijk
12           260      5.180    52.100       1.9              De Bilt
13           265      5.274    52.130      13.9          Soesterberg
14           267      5.384    52.898      -1.3             Stavoren
15           269      5.520    52.458      -3.7             Lelystad
16           270      5.752    53.224       1.2           Leeuwarden
17           273      5.888    52.703      -3.3            Marknesse
18           275      5.873    52.056      48.2               Deelen
19           277      6.200    53.413       2.9           Lauwersoog
20           278      6.259    52.435       3.6                Heino
21           279      6.574    52.750      15.8            Hoogeveen
22           280      6.585    53.125       5.2                Eelde
23           283      6.657    52.069      29.1               Hupsel
24           285      6.399    53.575       0.0           Huibertgat
25           286      7.150    53.196      -0.2         Nieuw Beerta
26           290      6.891    52.274      34.8              Twenthe
27           308      3.379    51.381       0.0              Cadzand
28           310      3.596    51.442       8.0           Vlissingen
29           311      3.672    51.379       0.0           Hoofdplaat
30           312      3.622    51.768       0.0        Oosterschelde
31           313      3.242    51.505       0.0   Vlakte van De Raan
32           315      3.998    51.447       0.0            Hansweert
33           316      3.694    51.657       0.0               Schaar
34           319      3.861    51.226       1.7            Westdorpe
35           323      3.884    51.527       1.4       Wilhelminadorp
36           324      4.006    51.596       0.0           Stavenisse
37           330      4.122    51.992      11.9     Hoek van Holland
38           331      4.193    51.480       0.0               Tholen
39           340      4.342    51.449      19.2          Woensdrecht
40           343      4.313    51.893       3.5  Rotterdam Geulhaven
41           344      4.447    51.962      -4.3            Rotterdam
42           348      4.926    51.970      -0.7          Cabauw Mast
43           350      4.936    51.566      14.9          Gilze-Rijen
44           356      5.146    51.859       0.7            Herwijnen
45           370      5.377    51.451      22.6            Eindhoven
46           375      5.707    51.659      22.0               Volkel
47           377      5.763    51.198      30.0                  Ell
48           380      5.762    50.906     114.3           Maastricht
49           391      6.197    51.498      19.5                Arcen