In [1]:
import datetime

In [2]:
import knmi_meteo_ingest
import knmi_update_metadata
import knmiclasses

In [3]:
start_date = datetime.date(2024, 10, 1)
end_date = datetime.date(2024, 10, 31)

In [4]:
knmi_update_metadata.knmi_update_metadata()

# knmi_update_metadata.knmi_stations_to_df()

Updating daily parameter metadata...
Success.
Updating hourly parameter metadata...
Success.
Updating meteo station metadata...
Success.

[{'parameter_code': 'DD', 'parameter_name': 'Windrichting (in graden) gemiddeld over de laatste 10 minuten van het afgelopen uur (360=noord, 90=oost, 180=zuid, 270=west, 0=windstil 990=veranderlijk'}, {'parameter_code': 'FH', 'parameter_name': 'Uurgemiddelde windsnelheid (in 0.1 m/s)'}, {'parameter_code': 'FF', 'parameter_name': 'Windsnelheid (in 0.1 m/s) gemiddeld over de laatste 10 minuten van het afgelopen uur'}, {'parameter_code': 'FX', 'parameter_name': 'Hoogste windstoot (in 0.1 m/s) over het afgelopen uurvak'}, {'parameter_code': 'T', 'parameter_name': 'Temperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming'}, {'parameter_code': 'T10N', 'parameter_name': 'Minimumtemperatuur (in 0.1 graden Celsius) op 10 cm hoogte in de afgelopen 6 uur'}, {'parameter_code': 'TD', 'parameter_name': 'Dauwpuntstemperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming'}, {'parameter_code': 'SQ', 'parameter_name': 'Duur van de zonneschijn (in 0.1 uren) per uurvak, berekend uit globale straling  (-1 for <0.05 uur)'}, {'parameter_code': 'Q', 'parameter_name': 'Globale straling (in J/cm2) per uurvak'}, {'parameter_code': 'DR', 'parameter_name': 'Duur van de neerslag (in 0.1 uur) per uurvak'}, {'parameter_code': 'RH', 'parameter_name': 'Uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)'}, {'parameter_code': 'P', 'parameter_name': 'Luchtdruk (in 0.1 hPa) herleid naar zeeniveau, tijdens de waarneming'}, {'parameter_code': 'VV', 'parameter_name': 'Horizontaal zicht tijdens de waarneming (0=minder dan 100m, 1=100-200m, 2=200-300m,..., 49=4900-5000m, 50=5-6km, 56=6-7km, 57=7-8km, ..., 79=29-30km, 80=30-35km, 81=35-40km,..., 89=meer dan 70km)'}, {'parameter_code': 'N', 'parameter_name': 'Bewolking (bedekkingsgraad van de bovenlucht in achtsten), tijdens de waarneming (9=bovenlucht onzichtbaar)'}, {'parameter_code': 'U', 'parameter_name': 'Relatieve vochtigheid (in procenten) op 1.50 m hoogte tijdens de waarneming'}, {'parameter_code': 'WW', 'parameter_name': 'Weercode (00-99), visueel(WW) of automatisch(WaWa) waargenomen, voor het actuele weer of het weer in het afgelopen uur'}, {'parameter_code': 'IX', 'parameter_name': 'Weercode indicator voor de wijze van waarnemen op een bemand of automatisch station (1=bemand gebruikmakend van code uit visuele waarnemingen, 2,3=bemand en weggelaten (geen belangrijk weersverschijnsel, geen gegevens), 4=automatisch en opgenomen (gebruikmakend van code uit visuele waarnemingen), 5,6=automatisch en weggelaten (geen belangrijk weersverschijnsel, geen gegevens), 7=automatisch gebruikmakend van code uit automatische waarnemingen)'}, {'parameter_code': 'M', 'parameter_name': 'Mist 0=niet voorgekomen, 1=wel voorgekomen in het voorgaande uur en/of tijdens de waarneming'}, {'parameter_code': 'R', 'parameter_name': 'Regen 0=niet voorgekomen, 1=wel voorgekomen in het voorgaande uur en/of tijdens de waarneming'}, {'parameter_code': 'S', 'parameter_name': 'Sneeuw 0=niet voorgekomen, 1=wel voorgekomen in het voorgaande uur en/of tijdens de waarneming'}, {'parameter_code': 'O', 'parameter_name': 'Onweer 0=niet voorgekomen, 1=wel voorgekomen in het voorgaande uur en/of tijdens de waarneming'}, {'parameter_code': 'Y', 'parameter_name': 'IJsvorming 0=niet voorgekomen, 1=wel voorgekomen in het voorgaande uur en/of tijdens de waarneming'}]

In [5]:
df_day = knmi_meteo_ingest.knmi_meteo_to_df(meteo_stns_list, start_date, end_date)

df_day

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
0,209,20241001,218.0,78.0,86.0,130.0,1.0,30.0,22.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209,20241002,62.0,75.0,76.0,110.0,16.0,20.0,1.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209,20241003,59.0,59.0,60.0,80.0,12.0,50.0,4.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,209,20241004,95.0,33.0,35.0,50.0,2.0,20.0,14.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,209,20241005,137.0,41.0,42.0,60.0,23.0,30.0,1.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,391,20241027,259.0,5.0,7.0,20.0,1.0,0.0,16.0,40.0,...,NaN,NaN,NaN,NaN,93.0,99.0,5.0,75.0,14.0,6.0
1453,391,20241028,234.0,13.0,14.0,30.0,11.0,0.0,2.0,70.0,...,NaN,NaN,NaN,NaN,90.0,99.0,1.0,76.0,12.0,7.0
1454,391,20241029,238.0,14.0,15.0,20.0,1.0,10.0,3.0,60.0,...,NaN,NaN,NaN,NaN,99.0,99.0,1.0,98.0,4.0,3.0
1455,391,20241030,243.0,3.0,5.0,10.0,1.0,0.0,8.0,20.0,...,NaN,NaN,NaN,NaN,97.0,99.0,1.0,88.0,12.0,4.0
1456,391,20241031,45.0,0.0,0.0,0.0,1.0,0.0,1.0,20.0,...,NaN,NaN,NaN,NaN,94.0,99.0,1.0,80.0,13.0,4.0